body,
html {
  margin: 0%;
  padding: 0%;
  font-family: "yekan";
}

header .headerBackground {
  background-image: url(/images&icons/image-slider.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 670px;
}
header .headerBackground .bgHeader {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 4px solid #d81010;
}
header .headerBackground .bgHeader .navigationBar {
  height: 85px;
  width: 100%;
  align-items: center;
  position: relative;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  header .headerBackground .bgHeader .navigationBar {
    flex-wrap: nowrap;
  }
}
header .headerBackground .bgHeader .navigationBar .navBarList {
  float: right;
  display: block;
  align-items: center;
  margin-top: 15px;
  margin-right: 70px;
}
header .headerBackground .bgHeader .navigationBar .navBarList li {
  display: inline;
  border-left: 1px solid black;
}
header .headerBackground .bgHeader .navigationBar .navBarList li a {
  color: #0c0c0c;
  font-family: "yekan";
  text-decoration: none;
  padding: 10px;
}
header .headerBackground .bgHeader .navigationBar .navBarList li:hover a {
  color: #b60707;
}
header .headerBackground .bgHeader .navigationBar .navBarList li:last-child {
  border-left: none;
}
@media only screen and (max-width: 768px) {
  header .headerBackground .bgHeader .navigationBar .navBarList {
    display: none;
  }
}
header .headerBackground .bgHeader .navigationBar .hamburger {
  display: none;
}
@media only screen and (max-width: 768px) {
  header .headerBackground .bgHeader .navigationBar .hamburger {
    display: block;
    cursor: pointer;
  }
}
header .headerBackground .bgHeader .navigationBar .navLastPart {
  cursor: pointer;
  margin-right: 50px;
}
header .headerBackground .bgHeader .navigationBar .navLastPart i {
  color: #327ab6;
}
@media only screen and (max-width: 768px) {
  header .headerBackground .bgHeader .navigationBar .navLastPart {
    clear: both;
    margin-right: 0px;
  }
}
header .headerBackground .bgHeader .navigationBar .navLastPart:hover i {
  color: #213f57;
}
header .headerBackground .bgHeader .usefulPoints {
  position: relative;
  top: 550px;
  left: 0;
  right: 0;
}
header .headerBackground .bgHeader .usefulPoints .usefulPointsItems {
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-radius: 100%;
  background-color: #cccccc;
  box-shadow: 0px 3px 3px -3px #101010;
  cursor: pointer;
}
header .headerBackground .bgHeader .usefulPoints .usefulPointsItems a {
  position: relative;
}
header .headerBackground .bgHeader .usefulPoints .usefulPointsItems a .img1 {
  position: absolute;
  top: 14px;
  right: 14px;
}
header .headerBackground .bgHeader .usefulPoints .usefulPointsItems a .img2 {
  position: absolute;
  top: 12px;
  right: 12px;
}
header .headerBackground .bgHeader .usefulPoints .usefulPointsItems a .img3 {
  position: absolute;
  top: 13px;
  right: 16px;
}
header .headerBackground .bgHeader .usefulPoints .usefulPointsItems:hover {
  background-color: #e0161d;
}

/*# sourceMappingURL=main.css.map */
